
/*ログイン画面*/

 .h1_login {
    color: rgb(255, 153, 0);
    padding: 6px 0;
    margin: 70px auto;
    width: 130px;
}



/* .form_login {
    padding: 6px 0;
    margin: 20px auto;
    width: 300px;

} */