@charset "UTF-8";
.rate{
position: relative;
display: inline-block;
}
.rate:before{
content: "★★★★★";
color: #ccc;
}

.rate0-5:after,
.rate1:before,
.rate1:after,
.rate1-5:before,
.rate1-5:after,
.rate2:before,
.rate2:after,
.rate2-5:before,
.rate2-5:after,
.rate3:before,
.rate3:after,
.rate3-5:before,
.rate3-5:after,
.rate4:before,
.rate4:after,
.rate4-5:before,
.rate4-5:after,
.rate5:after{
position: absolute;
top:0;
left:0;
color: #FFA500;
overflow: hidden;
height: 24px;
}

.rate .rate0-5:after,
.rate .rate1-5:after,
.rate .rate2-5:after,
.rate .rate3-5:after,
.rate .rate4-5:after{
	width: 8px;
	content: "★";
}

.rate .rate1:after,
.rate .rate1-5:before{
	content: "★";
}
.rate .rate1-5:after{
	left: 1em;
}
.rate .rate2:after,
.rate .rate2-5:before{
	content: "★★";
}
.rate .rate2-5:after{
	left: 2em;
}
.rate .rate3:after,
.rate .rate3-5:before{
	content: "★★★";
}
.rate .rate3-5:after{
	left: 3em;
}
.rate .rate4:after,
.rate .rate4-5:before{
	content: "★★★★";
}
.rate .rate4-5:after{
	left: 4em;
}
.rate .rate5:after{
	content: "★★★★★";
}